@font-face {
  font-family: 'exo2thin';
  src: url('./assets/fonts/Exo2.0-Thin.woff2') format('woff2'),
  url('./assets/fonts/Exo2.0-Thin.woff') format('woff'),
  url('./assets/fonts/Exo2.0-Thin.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}