@import "vars";

.products {
  padding: 10px 0;
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: -40px;
  margin-right: -40px;
}

.product {
  flex: 0 0 auto;
  width: auto;
  padding: 0 40px 10px;

  user-select: none;

  &.product_disabled {
    cursor: default;
    pointer-events: none;
  }
}

.product__inner {
  width: 320px;
  height: 480px;

  // если высота карточки фиксированная, то вариант с svg-фоном выглядит лучше.
  //background: $blue;
  //background: linear-gradient(135deg, transparent 30px, $blue 0);
  //border-radius: 12px;
  background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 320 480' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 468V43.5046L43.5046 2H308C313.523 2 318 6.47715 318 12V468C318 473.523 313.523 478 308 478H12C6.47715 478 2 473.523 2 468Z' fill='%23F2F2F2' stroke='%231698D9' stroke-width='4'/%3E%3C/svg%3E%0A");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  padding: 4px;
  position: relative;

  cursor: pointer;

  .product_hovered & {
    //background: linear-gradient(135deg, transparent 30px, $blueHover 0);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 320 480' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 468V43.5046L43.5046 2H308C313.523 2 318 6.47715 318 12V468C318 473.523 313.523 478 308 478H12C6.47715 478 2 473.523 2 468Z' fill='%23F2F2F2' stroke='%232EA8E6' stroke-width='4'/%3E%3C/svg%3E%0A");
  }

  .product_selected & {
    //background: linear-gradient(135deg, transparent 30px, $pink 0);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 320 480' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 468V43.5046L43.5046 2H308C313.523 2 318 6.47715 318 12V468C318 473.523 313.523 478 308 478H12C6.47715 478 2 473.523 2 468Z' fill='%23F2F2F2' stroke='%23D91667' stroke-width='4'/%3E%3C/svg%3E%0A");
  }

  .product_selected.product_hovered & {
    //background: linear-gradient(135deg, transparent 30px, $pinkHover 0);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 320 480' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 468V43.5046L43.5046 2H308C313.523 2 318 6.47715 318 12V468C318 473.523 313.523 478 308 478H12C6.47715 478 2 473.523 2 468Z' fill='%23F2F2F2' stroke='%23E52E7A' stroke-width='4'/%3E%3C/svg%3E%0A");
  }

  .product_disabled & {
    //background: linear-gradient(135deg, transparent 30px, $grayDisabled 0);
    background-image: url("data:image/svg+xml,%3Csvg viewBox='0 0 320 480' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2 468V43.5046L43.5046 2H308C313.523 2 318 6.47715 318 12V468C318 473.523 313.523 478 308 478H12C6.47715 478 2 473.523 2 468Z' fill='%23F2F2F2' stroke='%23B3B3B3' stroke-width='4'/%3E%3C/svg%3E%0A");
  }
}

.product__inner2 {
  //background: #F2F2F2;
  //background: linear-gradient(135deg, transparent 28px, #F2F2F2 0);
  border-radius: 8px;
  overflow: hidden;
}

.product__text {
  padding: 17px 20px 0 47px;
}

.product__category {
  font-size: 16px;
  line-height: 19px;
  color: #666;

  height: 19px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .product_selected.product_hovered & {
    //color: #E62E7A; // не понял, почему в дизайне другой цвет
    color: $pinkHover;
  }

  .product_disabled & {
    color: $grayDisabled;
    opacity: 0.5;
  }
}

.product__title {
  margin-top: 5px;
  font-weight: bold;
  font-size: 48px;
  line-height: 56px;
  color: #000;
  margin-left: -3px;

  height: 56px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .product_disabled & {
    color: $grayDisabled;
    opacity: 0.5;
  }
}

.product__subtitle {
  margin-top: -1px;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #000;

  height: 28px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  .product_disabled & {
    color: $grayDisabled;
    opacity: 0.5;
  }
}

.product__features {
  margin-top: 15px;
  font-size: 14px;
  line-height: 16px;
  color: #666;

  height: (16px * 3);
  overflow: hidden;

  .product_disabled & {
    color: $grayDisabled;
    opacity: 0.5;
  }
}

.product__image {
  margin-top: 17px;
  height: 268px;
  margin-left: -4px;
  margin-right: -4px;
  overflow: hidden;

  .product_disabled & {
    opacity: 0.5;
  }
}

.product__image-img {
  display: block;
  width: calc(100% + 24px * 2);
  margin-left: -24px;
  height: auto;

  // не понял задумку по дизайну, поэтмоу сделал как в дизайне, т.е. фото просто обрезается
}

.product-weight {
  position: absolute;
  right: 16px;
  bottom: 16px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;

  text-align: center;
  color: #fff;
  background-color: $blue;
  white-space: nowrap;

  padding-top: 20px;

  transition: background-color 0.1s;

  .product_hovered & {
    background-color: $blueHover;
  }

  .product_selected & {
    background-color: $pink;
  }

  .product_selected.product_hovered & {
    background-color: $pinkHover;
  }

  .product_disabled & {
    background-color: $grayDisabled;
  }
}

.product-weight__value {
  font-size: 42px;
  line-height: 22px;
}

.product-weight__unit {
  font-size: 21px;
  line-height: 22px;
}

.product__description {
  margin-top: 14px;
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  text-align: center;

  .product_disabled & {
    color: #FFFF66;
  }
}

.product__description-link {
  font-weight: bold;
  font-size: 13px;
  line-height: 1;
  color: $blue;
  cursor: pointer;
  transition: color 0.1s;
  display: inline-block;
  border-bottom: 1px dashed;

  .product_hovered & {
    color: $blueHover;
  }

  .product_selected & {
    color: $pink;
  }

  .product_selected.product_hovered & {
    color: $pinkHover;
  }
}

@media (max-width: 1199.98px) {
  .product {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

@media (max-width: 991.98px) {
  .products__list {
    margin-left: -10px;
    margin-right: -10px;
  }

  .product {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575.98px) {
  .product {
    padding-left: 0;
    padding-right: 0;
  }
}