@import "fonts";
@import "vars";

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background: url("./assets/img/tile.png") center repeat #171717;
  padding: 0;
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  min-width: 340px;
}

@media
only screen and (-webkit-min-device-pixel-ratio: 2),
only screen and (   min--moz-device-pixel-ratio: 2),
only screen and (     -o-min-device-pixel-ratio: 2/1),
only screen and (        min-device-pixel-ratio: 2),
only screen and (                min-resolution: 192dpi),
only screen and (                min-resolution: 2dppx) {

  body {
    background-image: url("./assets/img/tile@2x.png");
    background-size: 70px 140px;
  }

}

#app {
  font-family: $trebuchet;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.5) 100%);
  min-height: 100vh;

  display: flex;
  align-items: center;

  // fix vertical align for IE-11
  &::before {
    content: '';
    display: block;
    height: 100vh;
    height: min-content;
  }
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 40px;
}

.heading {
  font-family: $exo2thin;
  font-weight: normal;
  font-size: 36px;
  line-height: 44px;
  text-align: center;
  color: #fff;
  text-shadow: 0 1px 1px #000;
  margin-top: 0;
  margin-bottom: 24px;
}

@media (max-width: 991.98px) {
  .container {
    padding: 0 10px;
    max-width: 720px;
  }
}