<template>
  <div
      class="product"
      :class="productClasses"
  >
    <div
        class="product__inner"
        @mouseenter="onMouseEnter"
        @mouseleave="onMouseLeave"
        @click="onClick"
        role="button"
    >
      <div class="product__inner2">
        <div class="product__text">
          <div class="product__category">
            <template v-if="selected && hovered">
              Котэ не одобряет?
            </template>
            <template v-else>
              {{ category }}
            </template>
          </div>
          <div class="product__title">{{ title }}</div>
          <div class="product__subtitle">{{ subtitle }}</div>

          <div class="product__features">
            <b>{{ portions_count }}</b> {{ plural(portions_count, 'порция', 'порции', 'порций') }}

            <template v-if="mouse_gift_count">
              <br>
              <b v-if="mouse_gift_count > 1">{{ mouse_gift_count }}</b> {{ plural(mouse_gift_count, 'мышь', 'мыши', 'мышей') }} в подарок
            </template>

            <template v-if="annotation">
              <br>
              {{ annotation }}
            </template>
          </div>

        </div>

        <div
            v-if="image"
            class="product__image"
        >
          <img
              class="product__image-img"
              :srcset="require('@/assets/img/' + image) + ', ' + require('@/assets/img/' + image2x) + ' 2x'"
              :src="require('@/assets/img/' + image)"
              :alt="title + ' ' + subtitle"
          >
        </div>

        <div class="product-weight">
          <span class="product-weight__value">{{ new Intl.NumberFormat('ru-RU').format(weight) }}</span><br> <span class="product-weight__unit">{{ weight_unit }}</span>
        </div>
      </div>
    </div>
    <div class="product__description">
      <template v-if="selected">
        {{ description }}
      </template>
      <template v-else-if="disabled">
        Печалька, {{ subtitle }} закончился.
      </template>
      <template v-else>
        Чего сидишь? Порадуй котэ,
        <span
            class="product__description-link"
            role="button"
            @mouseenter="onMouseEnter"
            @mouseleave="onMouseLeave"
            @click="onClick"
        >купи</span>.
      </template>
    </div>

  </div>
</template>

<script>
export default {
  name: 'Product',
  props: {
    category: {
      type: String,
      default: 'Сказочное заморское яство',
    },
    title: {
      type: String,
      default: '',
    },
    subtitle: {
      type: String,
      default: '',
    },
    description: {
      type: String,
      default: '',
    },
    portions_count: {
      type: Number,
      default: 0,
    },
    mouse_gift_count: {
      type: Number,
      default: 0,
    },
    annotation: {
      type: String,
      default: '',
    },
    image: {
      type: String,
      default: '',
    },
    image2x: {
      type: String,
      default: '',
    },
    weight: {
      type: Number,
      default: 0,
    },
    weight_unit: {
      type: String,
      default: 'кг',
    },
    disabled: {
      type: Boolean,
      default: false,
    },
  },

  data: function (){
    return {
      selected: false,
      hovered: false,
    }
  },

  computed: {
    productClasses: function () {
      let classes = [];

      if (this.selected) {
        classes.push('product_selected');
      }
      if (this.hovered) {
        classes.push('product_hovered');
      }
      if (this.disabled) {
        classes.push('product_disabled');
      }

      return classes.join(' ');
    },
  },

  methods: {
    plural: function (n, one, two, many) {
      n = Math.abs(n);
      n %= 100;
      if (n >= 5 && n <= 20) {
        return many;
      }
      n %= 10;
      if (n === 1) {
        return one;
      }
      if (n >= 2 && n <= 4) {
        return two;
      }
      return many;
    },

    onMouseEnter: function () {
      this.hovered = true;
    },

    onMouseLeave: function () {
      this.hovered = false;
    },

    onClick: function () {
      this.selected = !this.selected;
      this.hovered = false;
    },
  },
}
</script>

<style lang="scss">
@import "../assets/scss/product";
</style>
