<template>
  <div id="app">
    <div class="container">

      <div class="products">

        <h1 class="heading">Ты сегодня покормил кота?</h1>

        <div class="products__list">

          <Product
              v-for="(item, index) in items"
              :key="index"
              :category="item.category"
              :title="item.title"
              :subtitle="item.subtitle"
              :portions_count="item.portions_count"
              :mouse_gift_count="item.mouse_gift_count"
              :annotation="item.annotation"
              :image="item.image"
              :image2x="item.image2x"
              :weight="item.weight"
              :description="item.description"
              :disabled="item.disabled"
          />

        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Product from './components/Product.vue'
import { products } from './products.js'

export default {
  name: 'App',
  components: {
    Product
  },

  data: function () {
    return {
      items: products,
    }
  },
}
</script>

<style lang="scss">
@import "./assets/scss/app";
</style>
